@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

/* global variables */
:root {
    --primary: #12bdff;
    --primary-hover: #0c8ec2;
    --dark-secondary: #22282f;
    --dark-primary: #1b1f24;
    --facebook: #324fe1;
    --linkedin: #0f69ff;
    --github: #757575;
    --instagram: #E4405F;
    --whatsapp: #1ca809;
    --nunito: 'Nunito Sans', sans-serif;
    --border-box: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: var(--border-box);  
}

body {
    font-family: var(--nunito);
}


/* header */
header {
    background-color: var(--dark-primary);
    padding: 20px;
    color: #fff;

    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

header .logo {
    color: var(--primary);
    font-weight: bold;
    letter-spacing: 3px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

header ul li a:hover {
    color: var(--primary);
}

/* section: Hero Homepage */

section.hero-section {
    background-color: var(--dark-primary);
    color: #fff;


    display: flex;
    align-items: center;
    padding: 20px 120px 0 200px;
}


.hero-section__title {
    font-size: 45px;
    font-weight: 900;
}

/* section-title__letters*/
.hero-section--first-letter {
    color: var(--primary);
}


.hero-section--first-letter:hover {
    color: var(--primary);
}

.hero-section--balance-letter {
     color: var(--primary);
}

.hero-section--balance-letter:hover {
    color: #fff;
}

.hero-section__desc {
    color: azure;
}


/* social icons */
.social-icons {
  margin: 20px 0;
}

.social-icons li {
    margin-right: 15px;
}

ul.social-icons {
    list-style: none;
    display: flex;
}

.social-icons li a {
    text-decoration: none;
    color: #fff;
}

.social-icons li a > i.fa-facebook:hover {
    color: var(--facebook);
}

.social-icons li a > i.fa-linkedin:hover {
    color: var(--linkedin);
}

.social-icons li a > i.fa-github:hover {
    color: var(--github);
}

.social-icons li a > i.fa-instagram:hover {
    color: var(--instagram);
}

.social-icons li a > i.fa-whatsapp:hover {
    color: var(--whatsapp);
}

.hero-buttons button {
    margin-right: 10px;
}


/* Buttons */
.btn {
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

/* Hire me button */
.btn.btn-primary {
    background-color: var(--primary);
    font-weight: 600;
    color: var(--dark-primary);
    border-radius: 3px;
}

.btn.btn-primary:hover {
    background-color:var(--primary-hover);
}

/* Know more button */
.btn.btn-secondary {
    background-color: var(--primary);
    font-weight: 600;
    color: var(--dark-primary);
    border-radius: 3px;
}

.btn.btn-secondary:hover {
    background-color:var(--primary-hover);
}

/* header button */
.btn-dark-outlined {
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px; 
    font-weight: 600; 
}

.btn-dark-outlined:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
}

/* main button */
.btn-dark-inlined {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--dark-primary);
    border-radius: 5px; 
    font-weight: 600; 

}

.btn-dark-inlined:hover {
    cursor: pointer;
    background-color: var(--dark-primary);
    color: var(--primary);
}


/* About me section */
.about-section {
    background-color: var(--dark-secondary);
    color: #fff;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section img {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    border: 3px solid var(--primary);
    box-shadow: 3px 5px 35px #03506e;
}

.about-section--desc {
    margin-left: 100px;
    min-height: 450px;
    padding: 88px 0 0 0;
}

.about-section--desc---title {
    color: var(--primary);
}

.about-section--desc---title:hover {
    color: var(--primary-hover);
}

.about-section--desc h4 {
    font-size: 30px;
    font-weight: 900;
}

.about-section--desc ul {
    list-style: none;
    margin: 10px 0;
}

.about-section--desc li {
    margin-bottom: 8px;
    color: gray;
}

.about-section--desc li > a {
    text-decoration: none;
    color: gray;
}

.about-section--desc li > a:hover {
    color: var(--primary-hover);
}

.about-section--desc li > strong {
    color: #fff;
}

/* qualification and achivements-section*/
.Qualifications_and_Achivements-section {
    background-color: var(--dark-primary);
    color: #fff;
    padding: 60px;
    text-align: center;
}

.Qualifications_and_Achivements-section_title {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 40px;
}

.Qualifications_and_Achivements-section_title span {
    color: var(--primary);
}

.Qualifications_and_Achivements-section_title span:hover {
    color: var(--primary-hover)
}

.Qualifications_and_Achivements-items {
    display: flex;
    justify-content: center;
}

/* Education box-box1 */
.Qualifications_and_Achivements-box1 {
    background-color: var(--dark-secondary);
    padding: 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 35px 0 0;
}

.Qualifications_and_Achivements-box1:hover {
    background-color: #14171c;

}

.Qualifications_and_Achivements-box1 p {
    color: gray;
    font-size: 14px;
}

.Qualifications_and_Achivements-box1 a {
   text-decoration: none;
   color: #feda75;
}

.Qualifications_and_Achivements-box1_desc {
    margin-top: 20px;
    margin-bottom: 10px;
}

.Qualifications_and_Achivements-box1_desc p {
    padding-top: 5px;
}

.Qualifications_and_Achivements-box1_icon {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 50px;
}

.Qualifications_and_Achivements-box1_icon:hover {
    background-color: var(--primary-hover);
    color: var(--dark-primary)
}

/* Projects box-box2 */
.Qualifications_and_Achivements-box2 {
    background-color: var(--dark-secondary);
    padding: 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 35px 0 0;
}

.Qualifications_and_Achivements-box2:hover {
    background-color: #14171c;

}

.Qualifications_and_Achivements-box2 p {
    color: gray;
    font-size: 14px;
}

.Qualifications_and_Achivements-box2 a {
   text-decoration: none;
   color: #feda75;
}

.Qualifications_and_Achivements-box2_desc {
    margin-top: 20px;
    margin-bottom: 10px;
}

.Qualifications_and_Achivements-box2_desc p {
    padding-top: 5px;
}

.Qualifications_and_Achivements-box2_icon {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 50px;
}    

.Qualifications_and_Achivements-box2_icon:hover {
    background-color: var(--primary-hover);
    color: var(--dark-primary)
}

/* Projects box-box2 */
.Qualifications_and_Achivements-box3 {
    background-color: var(--dark-secondary);
    padding: 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 35px 0 0;
}

.Qualifications_and_Achivements-box3:hover {
    background-color: #14171c;

}

.Qualifications_and_Achivements-box3 p {
    color: gray;
    font-size: 14px;
}

.Qualifications_and_Achivements-box3 a {
   text-decoration: none;
   color: #feda75;
}

.Qualifications_and_Achivements-box3_desc {
    margin-top: 20px;
    margin-bottom: 10px;
}

.Qualifications_and_Achivements-box3_desc p {
    padding-top: 5px;
}

.Qualifications_and_Achivements-box3_icon {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 100px;
}

.Qualifications_and_Achivements-box3_icon:hover {
    background-color: var(--primary-hover);
    color: var(--dark-primary)
}

/* contact section */
.contact-section {
    background-color: #14171c;
    padding: 40px;
    color: #fff;
    text-align: center;
}

.contact-section h4 {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 900;
}

.contact-section h4 > span {
    color: var(--primary);
}

/* Input and Textarea box */
.contact-section form div > input, textarea {
    padding: 5px 10px;
    outline: none;
    width: 350px;
    border: none;
    background-color: #c4c4c4;
    border-radius: 2px;
    margin-bottom: 10px;
    resize: none;
    font-family: var(--nunito);
    border:2px solid  #c4c4c4;
}

.contact-section form div > input:hover {
    border: 2px solid var(--primary-hover);
}

.contact-section form div > textarea:hover {
    border: 2px solid var(--primary-hover);
}

/* Footer */
footer {
    background-color:var(--dark-primary);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: var(--primary);
}

footer a:hover{
    color: var(--primary-hover);
}